{% extends "../shared/layout.tmpl.html" %}

{% block content %}
<h2>Home</h2>

<p>
    Golang website template with <a href="https://gofiber.io/" target="_blank">Fiber</a>
    as Webserver, <a href="https://uber-go.github.io/fx/" target="_blank">Fx</a> as
    Dependency injection system and
    <a href="https://www.schlachter.tech/solutions/pongo2-template-engine/" target="_blank">Pongo2</a>
    as template engine.
</p>

<p>
    See a complete CRUD in the <a href="/books">Books</a> endpoint.
</p>
{% endblock %}
